form.form-change-password.layout-row.layout-fixer-15.layout-wrap([formGroup]='passwordForm')
	mat-form-field.ph-15.flex-33.mb-10(
		floatLabel='always',
		appearance='outline')
		mat-label
			| {{ "GENERAL.LABELS.FULL_NAME" | translate }}
		input(
			matInput,
			[value]='updateAccount?.full_name || updateAccount?.lezo_employee?.full_name',
			readonly)

	mat-form-field.ph-15.flex-33.mb-10(
		floatLabel='always',
		appearance='outline')
		mat-label
			| {{ "GENERAL.LABELS.EMAIL" | translate }}
		input(
			matInput,
			[value]='updateAccount?.email || updateAccount?.lezo_employee?.email',
			readonly)

	.flex-33

	mat-form-field.ph-15.flex-33(
		floatLabel='always',
		appearance='outline')
		mat-label
			| {{ "ACCOUNT.LABELS.CURRENT_PASSWORD" | translate }}
		input(
			matInput,
			type='password',
			[(ngModel)]='password.current_password',
			[placeholder]='"ACCOUNT.PLACEHOLDERS.CURRENT_PASSWORD" | translate',
			[disableControl]='isSubmitting',
			[formControl]='passwordForm?.controls[ "current_password" ]',
			ngDefaultControl,
			required)
		mat-error
			error-message(
				[label]='"ACCOUNT.LABELS.CURRENT_PASSWORD" | translate',
				[control]='passwordForm?.controls[ "current_password" ]')

	mat-form-field.ph-15.flex-33(
		floatLabel='always',
		appearance='outline')
		mat-label
			| {{ "ACCOUNT.LABELS.NEW_PASSWORD" | translate }}
		input(
			matInput,
			type='password',
			[(ngModel)]='password.new_password',
			[placeholder]='"ACCOUNT.PLACEHOLDERS.NEW_PASSWORD" | translate',
			[disableControl]='isSubmitting',
			[formControl]='passwordForm?.controls[ "new_password" ]',
			ngDefaultControl,
			required)
		mat-error
			error-message(
				[label]='"ACCOUNT.LABELS.NEW_PASSWORD" | translate',
				[control]='passwordForm?.controls[ "new_password" ]')

	mat-form-field.ph-15.flex-33(
		floatLabel='always',
		appearance='outline')
		mat-label
			| {{ "ACCOUNT.LABELS.CONFIRM_NEW_PASSWORD" | translate }}
		input(
			matInput,
			type='password',
			[(ngModel)]='password.confirm_new_password',
			[placeholder]='"ACCOUNT.PLACEHOLDERS.CONFIRM_NEW_PASSWORD" | translate',
			[disableControl]='isSubmitting',
			[formControl]='passwordForm?.controls[ "confirm_new_password" ]',
			ngDefaultControl,
			required)
		mat-error
			error-message(
				[label]='"ACCOUNT.LABELS.CONFIRM_NEW_PASSWORD" | translate',
				[control]='passwordForm?.controls[ "confirm_new_password" ]')
