form.dialog-plan-approver.layout-column(
	[formGroup]='planApproverForm',
	(submit)='update()')
	h1(matDialogTitle)
		| {{ "FINANCE.PROJECT.TITLES.GET_APPROVAL" | translate }}

	div(matDialogContent)
		.mb-20([innerHtml]='planApprover?.confirmation')

		.layout-column.layout-fixer-15(*ngIf='!isPM')
			mat-form-field.ph-15(
				floatLabel='always',
				appearance='outline')
				mat-label
					| {{ "GENERAL.LABELS.COMMENT" | translate }}
				textarea(
					matInput,
					rows='5',
					[(ngModel)]='planApprover.comment',
					[placeholder]='"GENERAL.PLACEHOLDERS.COMMENT" | translate',
					[formControl]='planApproverForm?.controls[ "comment" ]',
					[disableControl]='isSubmitting',
					ngDefaultControl)

	div(
		matDialogActions,
		align='end')
		button(
			mat-raised-button,
			type='button',
			[disabled]='isSubmitting',
			(click)='onNoClick()')
			| {{ "GENERAL.LABELS.CANCEL" | translate }}
		button(
			mat-raised-button,
			type='submit',
			color='accent')
			.layout-row.layout-align-center-center
				.flex-auto
					ng-template([ngIf]='!isSubmitting')
						| {{ "GENERAL.LABELS.OK" | translate }}
					ng-template([ngIf]='isSubmitting')
						| {{ "GENERAL.LABELS.PLEASE_WAIT" | translate }}
				mat-spinner.ml-5(
					*ngIf='isSubmitting',
					diameter='20')
