.form-set-password
	.mb-30.font-size-32.line-height-32.mb-5.font-weight-500
		| {{ "AUTH.LOGIN.LABELS.SET_YOUR_PASSWORD" | translate }}

	form.layout-column(
		[formGroup]='setPasswordForm',
		(submit)='isResetPassword ? resetPassword() : activate()')
		mat-form-field.mb-10(
			floatLabel='always',
			appearance='outline')
			mat-label
				| {{ "AUTH.LOGIN.LABELS.PASSWORD" | translate }}
			input(
				matInput,
				type='password',
				[placeholder]='"AUTH.LOGIN.PLACEHOLDERS.PASSWORD" | translate',
				[(ngModel)]='user.password',
				[formControl]='setPasswordForm?.controls[ "new_password" ]',
				[disableControl]='isSubmitting',
				ngDefaultControl,
				required)
			mat-error
				error-message(
					[label]='"AUTH.LOGIN.LABELS.PASSWORD" | translate',
					[control]='setPasswordForm?.controls[ "new_password" ]')

		mat-form-field.mb-10(
			floatLabel='always',
			appearance='outline')
			mat-label
				| {{ "AUTH.LOGIN.LABELS.CONFIRM_PASSWORD" | translate }}
			input(
				matInput,
				type='password',
				[placeholder]='"AUTH.LOGIN.PLACEHOLDERS.CONFIRM_PASSWORD" | translate',
				[(ngModel)]='user.confirm_password',
				[formControl]='setPasswordForm?.controls[ "confirm_new_password" ]',
				[disableControl]='isSubmitting',
				ngDefaultControl,
				required)
			mat-error
				error-message(
					[label]='"AUTH.LOGIN.LABELS.CONFIRM_PASSWORD" | translate',
					[control]='setPasswordForm?.controls[ "confirm_new_password" ]')

		button(
			mat-raised-button,
			type='submit',
			color='primary',
			[disabled]='setPasswordForm?.invalid || isSubmitting')
			.layout-row.layout-align-center-center
				.flex-auto
					ng-template([ngIf]='!isSubmitting')
						| {{ "GENERAL.LABELS.SUBMIT" | translate }}
					ng-template([ngIf]='isSubmitting')
						| {{ "GENERAL.LABELS.PLEASE_WAIT" | translate }}
				mat-spinner.ml-5(
					*ngIf='isSubmitting',
					diameter='20')
