.form-forgot-password(*ngIf='channel?.exists && !isLoginState')
	.mb-30
		.font-size-32.line-height-32.mb-5.font-weight-500
			| {{ "AUTH.LOGIN.LABELS.FORGOT_PASSWORD" | translate }}
		div(*ngIf='ENVIRONMENT?.MULTI_CHANNELS')
			| {{ "AUTH.LOGIN.LABELS.WORKSPACE" | translate }}:&nbsp;
			span.text-uppercase
				| {{ channel?.id || "N/A" }}.{{ ENVIRONMENT?.APP_DOMAIN || "N/A" }}

	form.layout-column(
		[formGroup]='forgotPasswordForm',
		(submit)='forgotPassword()')
		mat-form-field.mb-30(
			floatLabel='always',
			appearance='outline')
			mat-label
				| {{ "AUTH.LOGIN.LABELS.RECOVERY_EMAIL" | translate }}
			input(
				matInput,
				[placeholder]='"AUTH.LOGIN.PLACEHOLDERS.RECOVERY_EMAIL" | translate',
				[(ngModel)]='employee.email',
				[formControl]='forgotPasswordForm?.controls[ "email" ]',
				[disableControl]='isSubmitting',
				ngDefaultControl,
				required)
			mat-error
				error-message(
					[label]='"AUTH.LOGIN.LABELS.RECOVERY_EMAIL" | translate',
					[control]='forgotPasswordForm?.controls[ "email" ]')

		button(
			mat-raised-button,
			type='submit',
			color='primary',
			[disabled]='forgotPasswordForm?.invalid || isSubmitting')
			.layout-row.layout-align-center-center
				.flex-auto
					ng-template([ngIf]='!isSubmitting')
						| {{ "GENERAL.LABELS.SUBMIT" | translate }}
					ng-template([ngIf]='isSubmitting')
						| {{ "GENERAL.LABELS.PLEASE_WAIT" | translate }}
				mat-spinner.ml-5(
					*ngIf='isSubmitting',
					diameter='20')

		.mt-15
			.clickable.text-primary((click)='isLoginState = true')
				| {{ "AUTH.LOGIN.LABELS.BACK_TO_LOGIN" | translate }}
